<nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <h4>&copy; Copyright 2021.</h4>
      </div>
    </nav>