<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

<nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <h4>&copy; Copyright 2021. All Rights reserved.</h4>
      </div>
    </nav>
    