<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

  <div class="container w-75 align-self-center">
   <div class="align-self-center p-5 bg-light">
    <h1>About Me</h1>
             <a id="profile"><img src="/Assets/images/myprofile.jpg" alt="my picture" style="float:right; width:180px;height:300px;">
    <br><br>
        <section class="about_me">
          
    <h4 id="Intro"><strong> Ngoc Phuong Uyen Ho </strong></h4>

    <br>
            <p id="profileIntro">Developer, Gamer.</p>
            <p>Most people call me Rosa because that is my English name.</p>  
            <p>I am a student in the Software Engineering Technology program at Centennial College. I am a diligent worker and collaborate well with other members. </p>
        </a>
    
    <button id="resumeButton" onclick="location.href='/Content/Ngoc-Phuong-Uyen-Ho-Resume.pdf'" type="button" class="btn btn-primary">
        My Resume</button>
</section>
    </div>
  </div>