<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

  <div class="container w-75 align-self-center">
   <div class="align-self-center p-5 bg-light" style="text-align: center;">
    <h1>About Me</h1>
        <section class="about_me">
    <h1 id="Intro"> Ngoc Phuong Uyen Ho </h1><br>
    <a id="profile"><img src="/Assets/images/profile.jpg" alt="my picture"><p id="profileIntro">Developer, Gamer.</p>
            <p>Most people call me Rosa because that is my English name.</p>  
            <p>I am a student in the Software Engineering Technology program at Centennial College. I am a diligent worker and collaborate well with other members. </p>
        </a>
    
    <button id="resumeButton" onclick="location.href='/Content/myresume.pdf'" type="button" class="btn btn-primary">
        My Resume</button>
</section>
    </div>
  </div>