<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

<div class="container w-75 align-self-center ">
  <div class="align-self-center p-5 bg-light" >
         <h1 style="text-align: center;">Welcome to Contact Page</h1>
         <section class="article_text post">
            <p> Thanks for reading my websites, and wanting to make a connection, I really appreciate it. I try to
                respond to every legitimate requests, but it won't always be immediate.</p>
            <p> Below you'll find a variety of ways to reach me or you can send me a contact form.</p>
            <h5 id="myemail">Email: <a href="mailto:nho17@my.centennialcollege.ca">nho17@my.centennialcollege.ca</a></h5>
            <h5 id="Discord">Discord ID: Rosahn#1231</h5>
        </section>
         <form>
            <fieldset id="contactForm">
                <legend>Contact me</legend>
                <label for="txtName">Your full name</label>
                <br>
                <input name="txtName" id="txtBest" type="text" tabindex="" required="required">
                <br>
                <label for="numPhone">Your phone number</label>
                <br>
                <input name="numPhone" id="numPhone" type="text" tabindex="11" required="required">
                <br>
                <label for="txtEmail">Your Email address</label>
                <br>
                <input name="txtEmail" id="txtEmail" type="email" tabindex="13" required="required">
                <br>
                <label for="txtMessage">Message</label>
                <br>
                <textarea name="txtMessage" id="txtMessage" cols="70" rows="4" tabindex="15" required="required"></textarea>
            </fieldset>
            <input name="ContactUs" type="submit" id="contactUs" value="Send Form" tabindex="17">
            <input name="restart" type="reset" value="Start Over" tabindex="19">
        </form>
        </div>
      </div>
     
   
  