<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

  <div class="container w-75 align-self-center">
  <div class="align-self-center p-5 bg-light" style="text-align: center;">
    <h1>Welcome to My Site!</h1>
    <div class="Statement">
    <h3 id="Intro">
        <p>Ngoc Phuong Uyen Ho</p>
    </h3>
    <a id="Intro">
        <p>Hi, I am a software engineer student that like to learn about new technologies!</p>
    </a>
    <a id="statements">
        <p>My life motto is to learn from yesterday, live for today, hope for tomorrow because the world changes day by day.</p>
    </a>
      <button id="aboutMeButton" onclick="location.href='/about'" type="button" class="btn btn-primary">
        About Me</button>
      <button id="aboutMeButton" onclick="location.href='/project'" type="button" class="btn btn-primary">
        My Projects</button>
      <button id="aboutMeButton" onclick="location.href='/services'" type="button" class="btn btn-primary">
        My Services</button>
      <button id="aboutMeButton" onclick="location.href='/contact'" type="button" class="btn btn-primary">
        Contact Me</button>
    </div>
  </div>
  </div>