<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

  <div class="container w-75 align-self-center">
   <div class="align-self-center p-5 bg-light" style="text-align: center;">
    <h1>Welcome to My Projects Page</h1>
    <section class="my_projects">

    <div id="current"></div>
                <h3> Current Projects</h3>
                <a><img src="/Assets/images/prortfolioweb.png">
                    <p><strong>Project</strong>: Express Portfolio Website</p>
                    <p> <strong>Role</strong>: Developer</p>
                    <p> <strong>Outcome</strong>: Developed using Express, Node.js, EJS, and Bootstrap. Currently has 5
                        page website that uses views and partials to create template for
                        each page. </p>
                </a>
            
                <h3>Previous Projects</h3>
            <br>
            <a><img src="/Assets/images/gallery.png">
                    <p><strong>Project</strong>: Gallery Website </p>
                    <p><strong>Role</strong>: Solo Developer</p>
                    <p><strong>Outcome</strong>: Developed using html5, CSS and JavaScript. Currently has two pages that allows users to update their photos to directly website and slideshows them. </p>
                </a>
            <br>
            <br><a><img src="/Assets/images/realestate.png">
                    <p><strong>Project</strong>:Real Estate Website</p>
                    <p><strong>Role</strong>: Solo Developer</p>
                    <p><strong>Outcome</strong>: Developed using html5, css and Windows Dynamic Template. Currently has
                        8 pages that can show simple real Estate listing as well as contact to the </p>
                </a>
            
    </div>
</section>
    </div>
  </div>