<!-- Author: Ngoc Phuong Uyen Ho -->
<!-- Student ID: 301103427 -->
<!-- Date: Sep 30th 2021 -->

  <div class="container w-75 align-self-center">
    <div class="align-self-center p-5 bg-light" style="text-align: center;">
      <h1 style="text-align: center;">Welcome to Service Page</h1>
      <section id="services">
    <h4>I offer some services such as:</h4><br>
        <a><img src="/Assets/images/programming.png">
                <h4>General Programming in C#,<br> Java, and Python</h4>
            </a>
            <br>
              <a><img src="/Assets/images/webdev.png">
                <h4>Web Development</h4>
            </a>
                <br><a><img src="/Assets/images/mobileapp.png">
                <h4>Mobile Application</h4>
            </a>
</section>
    </div>
  </div>